h1 {
    color: #F3BA36 ;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold   ;
}

::backdrop {
    background-color: #8CFFDB ;
}

.rotate-1deg {
    display: inline-block;
    transform-origin: center;
    animation: rotate-1deg-per-frame 6s linear infinite;
}

@keyframes rotate-1deg-per-frame {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
